---
interface Props {
  title: string
}

const { title } = Astro.props
import Arrow from './arrow.astro'
import { Image } from 'astro:assets'

import coverImage from '../assets/some-drops-of-javascript-cover-square.png'
---

<section class="bg-base-100">
  <div
    class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="base-content max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl"
      >
        Some drops of JavaScript is an open source e-book.
      </h1>
      <p
        class="max-w-2xl mb-6 font-light base-content lg:mb-8 md:text-lg lg:text-xl"
      >
        This book compiles a collection of useful, lesser-known, and underrated
        JavaScript functions and techniques. These discoveries have been made,
        utilized, and refined through daily JavaScript programming practice.
      </p>
      <a
        href="/00-intro/01_contributing/"
        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:base-300 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
      >
        Contribute
        <Arrow />
      </a>
      <a
        href="/00-intro/00_intro"
        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:base-300 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-800"
      >
        Read the Book
        <Arrow />
      </a>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <Image
        src={coverImage}
        alt="Some Drops of JavaScript is an open source e-book."
      />
    </div>
  </div>
</section>
